<form action="/create" method="POST">
  E-mail: <input type="text" name="link[email]"><br/>
  Name: <input type="text" name="link[name]"><br/>
  Comment: <input type="text" name="link[comment]"><br/>
  <input type="submit">
</form>

<p><a href="/">Home</a></p>
